img {
  width: 90%;
  position: absolute;
  display: block;
  z-index: -1;
}

p {
  display: block;
  text-align: center;
  margin-left: -60px;
}

.small-txt {
  font-size: .7em;
}

.red-txt {
  color: #ff0000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  width: 100%;
  text-align: center;
  position: absolute;
  margin-top: 10%;
}

a {
  text-decoration: none;
}
